<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pi Day</title>
</head>
<style>
    .active {
        stroke: black;
        stroke-width: 4px;
        stroke-dasharray: 1;
    }
    .tentative {
        opacity: .5;
    }
</style>
<body>
<script src="PiDay/bower_components/d3/d3.min.js"></script>
<div>
    <svg>
    <g>
        <circle class="active" cy="100" cx="200" r="30"></circle>
    </g>
    </svg>
</div>
<div id="piApp" data-ng-app="piDayApp">
    <div id="piCtrl" data-ng-controller="piDayController">
        <input id="iteration" data-ng-model="iterations"/><br/>
        <div id="piCalc" >{{pi}}</div><br/>
        <div id="piCalcDiff" >{{delta}}</div><br/>
        <button data-ng-click="calculatePi()" >Update</button>
    </div>

</div>
<script src="bower_components/angular/angular.min.js"></script>

<script src="scripts/app.js"></script>
<script src="scripts/piDayController.js"></script>
</body>
</html>